.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #6200ea; /* Purple background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
    background-color: #3700b3; /* Darker purple on hover */
}

.button:active {
    background-color: #1a00a3; /* Even darker purple on click */
}

.button:disabled {
    background-color: #cccccc; /* Gray background when disabled */
    cursor: not-allowed; /* Not-allowed cursor when disabled */
}